* {
	font-family: 'Press Start 2P', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.text1 {
	color: rgba(0, 0, 0, 1);
    width: 101px;
    height: 15px;
    position: absolute;
    left: 33px;
    top: 213px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
    border-bottom: 5px solid #333;
}

.text2 {
	color: rgba(0, 0, 0, 1);
    width: 46px;
    height: 16px;
    position: absolute;
    left: 29px;
    top: 280px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
    border-bottom: 5px solid #333;
}

#container {
	display: none;
}

.e2_4 { 
	background-color:rgba(22.471874468028545, 25.943060405552387, 38.25000151991844, 1);
	width:360px;
	height:798px;
	position:absolute;
}
.e3_8 { 
	background-color: #05436c;
	width:360px;
	height:711px;
	position:absolute;
	left:0px;
	top:41px;
	border-top-left-radius:57px;
	border-top-right-radius:57px;
	border-bottom-left-radius:57px;
	border-bottom-right-radius:57px;
}
.e3_92 { 
	background-color:#54c6d5;
	width:360px;
	height:685px;
	position:absolute;
	left:0px;
	top:51px;
	border-top-left-radius:57px;
	border-top-right-radius:57px;
	border-bottom-left-radius:57px;
	border-bottom-right-radius:57px;
}
.e3_9 { 
	background-color: rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
    width: 321px;
    height: 323px;
    position: absolute;
    left: 21px;
    top: 88px;
    border-radius: 33px;
}

.e3_7 { 
	background-color:rgba(67.00000360608101, 146.00000649690628, 241.00000083446503, 1);
	width:314px;
	height:56px;
	position:absolute;
	left:28px;
	top:430px;
	border-top-left-radius:101.5px;
	border-top-right-radius:101.5px;
	border-bottom-left-radius:101.5px;
	border-bottom-right-radius:101.5px;
}
.e3_94 { 
	background-color:rgba(70.44375121593475, 136.87016040086746, 216.75000607967377, 1);
	width:287px;
	height:56px;
	position:absolute;
	left:41px;
	top:430px;
	border-top-left-radius:101.5px;
	border-top-right-radius:101.5px;
	border-bottom-left-radius:101.5px;
	border-bottom-right-radius:101.5px;
}
.e3_12 { 
	transform: rotate(-174.012deg);
  border-radius: 500px;
  background-color: rgb(2, 43, 58);
  width: 60px;
  height: 60px;
  position: absolute;
  left: 269.673px;
  top: 513px;
}
.e3_96 { 
	transform: rotate(-174.012deg);
  border-radius: 500px;
  background-color: #f0bcb4;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 273.727px;
  top: 517px;
}
.e3_13 { 
	transform: rotate(-174.012deg);
  border-radius: 500px;
  background-color: rgb(2, 43, 58);
  width: 60px;
  height: 60px;
  position: absolute;
  left: 200.673px;
  top: 586px;
}
.e3_95 { 
	transform: rotate(-174.012deg);
  border-radius: 500px;
  background-color: #f0bcb4;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 205.727px;
  top: 590px;
}
.e3_14 { 
	background-color: rgb(2, 43, 58);
  width: 30px;
  height: 137px;
  position: absolute;
  left: 87px;
  top: 527px;
}
.e3_15 { 
	background-color: rgb(2, 43, 58);
  width: 123px;
  height: 36px;
  position: absolute;
  left: 41px;
  top: 578px;
}
.e3_100 { 
	background-color: rgb(217, 217, 217);
  width: 11px;
  height: 29px;
  position: absolute;
  left: 97px;
  top: 536px;
}
.e3_16 {
	color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 0.9333333373069763);
	width:58px;
	height:48px;
	position:absolute;
	left:48px;
	top:517px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e3_97 {
	color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 0.9333333373069763);
	width:60px;
	height:48px;
	position:absolute;
	left:116px;
	top:606px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e3_98 { 
	background-color: rgb(217, 217, 217);
  width: 27px;
  height: 12px;
  position: absolute;
  left: 49px;
  top: 589px;
}
.e3_103 { 
	background-color: rgb(217, 217, 217);
  width: 27px;
  height: 12px;
  position: absolute;
  left: 128px;
  top: 588px;
}
.img {
	width: 160px;
    height: 221px;
    position: absolute;
    left: 82px;
    top: 89px;
}
.img1 {
	width: 268px;
    height: 30px;
    position: absolute;
    left: 23px;
    top: 29px;
}
.img2 {
	width: 116px;
    height: 100px;
    position: absolute;
    left: 82px;
    top: 326.5px;
}
.img3 {
	width: 116px;
    height: 100px;
    position: absolute;
    left: 72px;
    top: 243.5px;
}
.e3_99 {
	background-color: rgb(217, 217, 217);
  width: 11px;
  height: 28px;
  position: absolute;
  left: 97px;
  top: 626px;
}

.e3_184 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:50px;
	position:absolute;
	left:35px;
	top:116px;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
	border-bottom: 5px solid #333;
}
.e3_185 { 
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:33px;
	position:absolute;
	left:5%;
	top:184px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e4_189 { 
	color: rgba(0, 0, 0, 1);
    width: 82px;
    height: 20px;
    position: absolute;
    left: 40px;
    top: 260px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}
.e4_190 { 
	color: rgba(0, 0, 0, 1);
    width: 160px;
    height: 21px;
    position: absolute;
    left: 15px;
    top: 329px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
}
.e11_4 { 
	color:rgb(248, 239, 105);
	width:266px;
	height:26px;
	position:absolute;
	left:47px;
	top:450px;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e3_186 { 
	transform: rotate(1.240741378459217e-8deg);
	width:199px;
	height:0px;
	position:absolute;
	left:41px;
	top:183px;
}


.e23_2 { 
	width:349px;
	height:328px;
	position:absolute;
	left:6px;
	top:70px;
	background-image:url(images/subtract_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.sk-cube-grid {
	width: 80px;
	height: 80px;
	margin: 100px auto;
	position: absolute;
	top: 100px;
	left: 145px;
  }

  .sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #333;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
			animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  .sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
			animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
			animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
			animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s; }

  @-webkit-keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
	  -webkit-transform: scale3D(1, 1, 1);
			  transform: scale3D(1, 1, 1);
	} 35% {
	  -webkit-transform: scale3D(0, 0, 1);
			  transform: scale3D(0, 0, 1);
	}
  }

  @keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
	  -webkit-transform: scale3D(1, 1, 1);
			  transform: scale3D(1, 1, 1);
	} 35% {
	  -webkit-transform: scale3D(0, 0, 1);
			  transform: scale3D(0, 0, 1);
	}
  }